<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="nav">
          <a href="../index.html" class="logo"><span class="logo__item">Web</span>Studio</a>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../index.html" class="nav__item-link">Студія</a>
            </li>
            <li class="nav__item">
              <a href="./portfolio.html" class="nav__item-link current">Портфоліо</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__item-link">Контакти</a>
            </li>
          </ul>
        </nav>
        <ul class="header__address-list">
          <li class="address-list__item">
            <a href="mailto:info@devstudio.com" class="address-list__link">
              <svg class="header__svg" width="16" height="12">
                <use href="../images/svg/sprite.svg#icon-mail"></use>
              </svg>
              info@devstudio.com</a
            >
          </li>
          <li class="address-list__item">
            <a href="tel:+380961111111" class="address-list__link">
              <svg class="header__svg" width="10" height="16">
                <use href="../images/svg/sprite.svg#icon-phone"></use>
              </svg>
              +38 096 111 11 11</a
            >
          </li>
        </ul>
      </div>
    </header>

    <main class="main">
      <section class="section portfolio">
        <div class="container">
          <h1 class="portfolio__title" style="display: none">Портфоліо</h1>
          <ul class="buttons-list">
            <li class="buttons-list__item">
              <button class="buttons-list__button" type="button">Усі</button>
            </li>
            <li class="buttons-list__item">
              <button class="buttons-list__button" type="button">Веб-сайти</button>
            </li>
            <li class="buttons-list__item">
              <button class="buttons-list__button" type="button">Додатки</button>
            </li>
            <li class="buttons-list__item">
              <button class="buttons-list__button" type="button">Дизайн</button>
            </li>
            <li class="buttons-list__item">
              <button class="buttons-list__button" type="button">Маркетинг</button>
            </li>
          </ul>

          <ul class="portfolio-list">
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-1.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>

                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Технокряк</h2>
                  <p class="portfolio-list__item-text">Веб-сайт</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-2.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Постер New Orlean vs Golden Star</h2>
                  <p class="portfolio-list__item-text">Дизайн</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-3.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Ресторан</h2>
                  <p class="portfolio-list__item-text">Додаток</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-4.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Проєкт Prime</h2>
                  <p class="portfolio-list__item-text">Маркетинг</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-5.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Проєкт Boxes</h2>
                  <p class="portfolio-list__item-text">Додаток</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-6.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Inspiration has no Borders</h2>
                  <p class="portfolio-list__item-text">Веб-сайт</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-7.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Видання Limited Edition</h2>
                  <p class="portfolio-list__item-text">Дизайн</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-8.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Проєкт LAB</h2>
                  <p class="portfolio-list__item-text">Маркетинг</p>
                </div>
              </a>
            </li>
            <li class="portfolio-list__item">
              <a href="" class="portfolio-list__link">
                <div class="overlay-container">
                  <img src="../images/portfolio-9.jpg" alt="" class="portfolio-list__item-image" />
                  <div class="overlay">
                    <p class="overlay-text">
                      Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів.
                      Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи
                      приватну особу.
                    </p>
                  </div>
                </div>
                <div class="item__footer">
                  <h2 class="portfolio-list__item-title">Growing Business</h2>
                  <p class="portfolio-list__item-text">Додаток</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="left-side">
          <a href="../index.html" class="logo"><span class="logo__item">Web</span>Studio</a>
          <address class="address">
            <ul class="address__list">
              <li class="address__item">
                <a
                  href="https://goo.gl/maps/X68o6riRnLmYsrjX8"
                  class="address__item-link"
                  target="_blank"
                  >м. Київ, пр-т Лесі Українки, 26</a
                >
              </li>
              <li class="address__item">
                <a href="mailto:info@devstudio.com" class="address__item-link"
                  >info@devstudio.com</a
                >
              </li>
              <li class="address__item">
                <a href="tel:+380961111111" class="address__item-link">+38 096 111 11 11</a>
              </li>
            </ul>
          </address>
        </div>
        <div class="center">
          <p class="subtext">приєднуйтесь</p>
          <ul class="footer__links-list">
            <li class="footer__links-items">
              <a
                href="https://www.instagram.com/"
                class="footer__links-link flex-centered"
                target="_blank"
                rel="norefferer noopener"
              >
                <svg class="footer__link-svg" width="20" height="20">
                  <use href="../images/svg/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer__links-items">
              <a
                href="https://twitter.com/"
                class="footer__links-link flex-centered"
                target="_blank"
                rel="norefferer noopener"
              >
                <svg class="footer__link-svg" width="20" height="20">
                  <use href="../images/svg/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="footer__links-items">
              <a
                href="https://www.facebook.com/"
                class="footer__links-link flex-centered"
                target="_blank"
                rel="norefferer noopener"
              >
                <svg class="footer__link-svg" width="20" height="20">
                  <use href="../images/svg/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__links-items">
              <a
                href="https://www.linkedin.com/"
                class="footer__links-link flex-centered"
                target="_blank"
                rel="norefferer noopener"
              >
                <svg class="footer__link-svg" width="20" height="20">
                  <use href="../images/svg/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
